# Ignore everything
/*
# But not these files and directories...
!.gitignore
!.gitattributes
!.editorconfig
!AssetBundles/
!Assets/
!DebugKeystore/
!Packages/
!ProjectSettings/
!GoogleSheetsLocalizationTool/